# Connecting database Using this section 
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
DATABASE_URL=


# form jwt securety
SESSION_SECRET_KEY=

# add mailerlite
MAILERLITE_API_KEY=


# add stripe payment methode
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

PRICE_STARTER_MONTHLY=
PRICE_PRO_MONTHLY=
PRICE_PREMIUM_ONETIME=


# connect with uploadpost and n8n
UPLOADPOST_API_KEY=
N8N_WEBHOOK_BASE=